body {
    background-color: rgb(0, 0, 0);
    text-align: center;
    background-image: url("bilder/Titelbild_01.jpg");
    background-repeat: repeat;
    background-size: 100%;
    color: white;
}

h3{
    color: greenyellow;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.button:hover {
    background-color: #0056b3;
}

.box{
    background-color: #000000; 
    padding: 5px;
    margin: 50px;
    height: 100%; 
}